EXPO_PUBLIC_API_URL=https://coachlander.147-93-180-120.sslip.io
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_me
CLERK_SECRET_KEY=sk_test_replace_me
POSTGRES_PASSWORD=replace_with_a_long_random_password
